<div id="subHeader">
    <div class="subTitle">
        <h2>Audio</h2>
    </div>
    <div class="subBanner"></div>
</div>

<div id="subPage">
    <div class="content">
        <div id="subRight">
            <?php include('includes/sidebar.php'); ?>
        </div>

        <div id="subleft">
            <h1>Audio Clips</h1>
            <p><a href="http://www.thisamericanlife.org/radio-archives/episode/464/invisible-made-visible?act=2">Taylor Dayne</a></p>
            <p><a href="http://www.thisamericanlife.org/radio-archives/episode/476/what-doesnt-kill-you">What Doesn&rsquo;t Kill You</a></p>
            <p><a href="http://www.thisamericanlife.org/radio-archives/episode/518/except-for-that-one-thing?act=3">Start Me Up</a></p>
            <p><a href="http://www.thisamericanlife.org/radio-archives/episode/542/wait-do-you-have-the-map?act=2">Final Rest Stop</a> <br>
            </p>
            <div class="clear"></div>
        </div>
    </div>
</div>