<div id="subPage">
    <div class="content">
        <div id="subRight">
            <?php include('includes/sidebar.php'); ?>
        </div>
        <div id="subleft">
            <h1>Contact Tig Notaro</h1>
            <p><strong>Personal Management: Integral Entertainment</strong><br>
                <strong>Manager:</strong> <em>Hunter Seidman</em><br>
                1134 11th St.<br>
                Ste. 103<br>
                Santa Monica, CA 90403<br>
                PH:424.268.4718<br>
                <a href="mailto:hseidman@integral-ent.com">hseidman@integral-ent.com</a><br>
                <a href="http://www.integral-ent.com/" target="blank">www.integral-ent.com</a></p>
            <p><strong>Personal Appearance: Creative Artists Agency</strong><br>
                <strong>Booking Agent:</strong> <em>Andrew Skikne</em><br>
                CAA<br>
                2000 Ave. of the Stars<br>
                Los Angeles, CA 90067<br>
                PH: 424.288.2000<br>
                FX: 424.288.2900<br>
                <a href="mailto:Andrew.skikne@caa.com" target="_blank">Andrew.skikne@caa.com</a><br>
                <a href="http://www.caa.com/" target="blank">www.caa.com</a></p>
            <p><strong>Literary: The Agency Group</strong><br>
                <strong>Book Agent:</strong> <em>Marc Gerald</em><br>
                142 West 57th Street<br>
                Sixth Floor<br>
                New York, NY 10019<br>
                PH: 212.581.3100<br>
                FX: 212.581.0015<br>
                <a href="mailto:marcgerald@theagencygroup.com">marcgerald@theagencygroup.com</a><br>
                <a href="http://www.theagencygroup.com/" target="blank">www.theagencygroup.com</a></p>
            <p><strong>Publicist: Shore Fire Media</strong><br>
                32 Court Street, Suite 1600<br>
                Brooklyn, NY 11201<br>
                PH: 718.522.7171<br>
                FX: 718.522.7242<br>
                <a href="mailto:info@shorefire.com">info@shorefire.com</a><br>
                <a href="http://www.shorefire.com/" target="blank">www.shorefire.com</a></p>
            <p><strong>Record Label/Public Relations: Secretly Canadian</strong><br>
                1499 W. 2nd St.<br>
                Bloomington, IN 47403<br>
                <strong>General Contact:</strong><em> Jon Coombs</em><br>
                <a href="mailto:jcoombs@jagjaguar.com">jcoombs@secretlycanadian.com</a><br>
                <strong>US publicist:</strong><em> Abe Morris</em><br>
                <a href="mailto:abe@secretlycanadian.com">abe@secretlycanadian.com</a><br>
                <strong>UK publicist:</strong> <em>Manish Agarwal </em><br>
                <a href="mailto:manish@jagjaguwar.com">manish@jagjaguwar</a><br>
                <strong>CAN publicist:</strong><em> Sean Palmerston </em><br>
                <a href="mailto:sean@sonicunyon.com">sean@sonicunyon.com</a><br>
                <a href="http://www.secretlycanadian.com/" target="blank">www.secretlycanadian.com</a></p>
            <p><strong>College Bookings: Joey Edmonds Presents<br>
                Agent:</strong> <em>Kate Edmonds</em><br>
                PH:818.426.1279<br>
                FX:818.955.8636<br>
                <a href="mailto:kate@joeyedmonds.com">kate@joeyedmonds.com</a><br>
                <a href="http://www.joeyedmonds.com/" target="blank">www.joeyedmonds.com</a></p>
            <p><strong>Entertainment Attorney: Ziffren, Brittenham, Branca, Fischer, Gilbert-Lurie, Stiffelman &amp; Cook<br>
                Lawyer:</strong><em> Julian Zajfen</em><br>
                1801 Century Park W.<br>
                Los Angeles, CA 90067<br>
                PH: 310.552.3388<br>
                FX: 310.553.7068<br>
                <a href="mailto:JulianZ@ziffrenlaw.com">Julian@ziffrenlaw.com</a></p>
            <p><strong>General Tig Inquiries:</strong></p>
            <p><em>Kate Garth<br>
            </em><a href="mailto:tig.notaro.asst@gmail.com">tig.notaro.asst@gmail.com</a></p>
            <p>(*Tig reads and appreciates all your emails, but unfortunately can not respond due to the high volume.  This would turn into a full-time job, so thanks for understanding.)       	</p>
        </div>
    </div>
</div>