<div id="mainSection">
    <div class="content">
        <div class="tigDescription">
            <h1>Tig Notaro</h1>
            <div class="whiteSpacer"></div>
            <p>Tig has appeared in a number of television shows and most notably as "Officer Tig" in THE SARAH SILVEMAN PROGRAM. Tig has also guest starred on THE OFFICE , COMMUNITY, BOB'S BURGERS, and is a regular on CONAN. She has also appeared on LATE NIGHT WITH JIMMY FALLON and JIMMY KIMMEL LIVE among others.</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="mainBanner"></div>
</div>

<div id="whatsNew">
    <div class="content">
        <div align="center">
            <img src="i/whats-new.png" alt="What's New" class="headline"/>
        </div>
        <div class="blackSpacer"></div>
        <div class="whatRight">
            <?php include('includes/dates.php'); ?>
        </div>

        <div class="whatLeft">
            <div class="whatText">
                <h1>{{test}}</h1>
                <h2>Grammy nominated Tig Notaro LIVE available everywhere</h2>
                <p>Purchase LIVE for $5 on iTunes, Amazon and other online marketplaces, or pick up a CD or vinyl copy at your local record store.</p>
                <div class="quote">
                    <p>Notaro's resounding strength makes this album something that lifts the soul of the listener as much as it entertains</p>
                    <img src="i/time-logo.png" width="68" height="20" class="timeLogo"/>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="album">
                <img src="i/tig-album.jpg" alt="Tig Notaro LIVE" width="305" height="303"/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>