<div id="subHeader">
    <div class="subTitle">
        <h2>Tour</h2>
    </div>
    <div class="subBanner"></div>
</div>

<div id="subPage">
    <div class="content">
        <div id="subRight">
            <?php include('includes/sidebar.php'); ?>
        </div>
        <div id="subleft">
            <h1>Upcoming Dates</h1>
            <p><strong>NOTICE: Please contact venue for address, tickets, showtimes etc.</strong></p>
            <h2><strong>2015</strong></h2>
            <p> <strong>Check back regularly for updates/added shows/cancellations</strong></p>
            <table border="0" cellspacing="0" cellpadding="4" width="530">
                <tbody>
                <tr>
                    <td>Jan 9 2015</td>
                    <td>Sacramento, CA <a href="http://aceofspades.queueapp.com/events/6459">Ace of Spades</a></td>
                </tr>
                <tr>
                    <td>Jan 10 2015</td>
                    <td>San Francisco, CA <a href="http://www.ticketmaster.com/event/1C004D1BEBD742D0">Palace of Fine Arts</a></td>
                </tr>
                <tr>
                    <td>Jan 11 2015</td>
                    <td>San Diego, CA <a href="https://casbah.frontgatetickets.com/event/5kqq1nl8o27uttph">The Irenic</a></td>
                </tr>
                <tr>
                    <td>Jan 14 2015</td>
                    <td>Portland, OR <a href="http://www.ticketfly.com/purchase/event/673891?utm_source=os">Aladdin Theater</a></td>
                </tr>
                <tr>
                    <td>Jan 15 2015</td>
                    <td>Seattle, WA <a href="http://purchase.tickets.com/buy/TicketPurchase?pid=7846002&orgid=30247">The Neptune</a></td>
                </tr>
                <tr>
                    <td>Jan 16 2015</td>
                    <td>Vancouver, BC <a href="http://www.ticketmaster.ca/event/11004D22862471F7">Rio Theatre</a></td>
                </tr>
                <tr>
                    <td>Jan 18 2015</td>
                    <td>Bethlehem, PA <a href="http://tix.artsquest.org/tickets/hall.asp">Musikfest Café at Artsquest</a></td>
                </tr>
                <tr>
                    <td>Jan 19 2015</td>
                    <td>Annapolis, MD <a href="http://www.ramsheadonstage.com/event/740573-tig-notaro-annapolis">Ramshead</a></td>
                </tr>
                <tr>
                    <td>Jan 27 2015</td>
                    <td>Salt Lake City, UT <a href="http://www.24tix.com/event.html?show_id=T42797354134279735413412">Urban Lounge</a></td>
                </tr>
                <tr>
                    <td>Jan 29 2015</td>
                    <td>Boston, MA Northeastern University (Not Open to the Public)</td>
                </tr>
                <tr>
                    <td>Jan 30 2015</td>
                    <td>Los Angeles, CA <a href="http://www.ticketfly.com/purchase/event/676405?utm_medium=bks">The Regent</a></td>
                </tr>
                <tr>
                    <td>Feb 11 2015</td>
                    <td>Columbus, OH <a href="http://www.brownpapertickets.com/event/1109179">The Bluestone</a></td>
                </tr>
                <tr>
                    <td>Feb 12 2015</td>
                    <td>Cleveland, OH <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=5516255">Masonic DeMolay Room</a></td>
                </tr>
                <tr>
                    <td>Feb 13 2015</td>
                    <td>Saratoga Springs, NY Skidmore College (Not Open to the Public)</td>
                </tr>
                <tr>
                    <td>Feb 15 2015</td>
                    <td>Buffalo, NY <a href="http://bit.ly/1wkqRIi">Tralf Music Hall</a></td>
                </tr>
                <tr>
                    <td>Feb 21 2015</td>
                    <td>Santa Barbara, CA <a href="https://www.facebook.com/groups/83285570367/?ref=br_tf">Embarcadero Hall (Free Show)</a></td>
                </tr>
                <tr>
                    <td>Feb 24 2015</td>
                    <td>Phoenix, AZ <a href="http://www.crescentphx.com/event/737949-tig-notaro-boyish-girl-phoenix">The Crescent Ballroom</a></td>
                </tr>
                <tr>
                    <td>Feb 25 2015</td>
                    <td>Tuscon, AZ <a href="https://www.ticketfly.com/purchase/event/737137?utm_medium=bks">The Rialto Theater</a></td>
                </tr>
                <tr>
                    <td>Feb 27 2015</td>
                    <td>Bloomington, IN <a href="https://web.ovationtix.com/trs/pe/9971001">Buskirk-Chumley Theater</a></td>
                </tr>
                <tr>
                    <td>Feb 28 2015</td>
                    <td>Madison, WI <a href="http://www.overturecenter.org/events/tig-notaro">Overture</a></td>
                </tr>
                <tr>
                    <td>April 3 2015</td>
                    <td>West Palm Beach, FL <a href="http://palmbeachimprov.com/mobile/show.cfm?id=364418">Palm Beach Improv</a></td>
                </tr>
                <tr>
                    <td>April 4 2015</td>
                    <td>West Palm Beach, FL <a href="http://palmbeachimprov.com/mobile/show.cfm?id=364418">Palm Beach Improv</a></td>
                </tr>
                <tr>
                    <td>April 16 2015</td>
                    <td>Nashville, TN <a href="http://www.belcourt.org/events/2015/04/16/wild-west-comedy-festival-tig-notaro.838757">Wild West Comedy Festival</a></td>
                </tr>
                </tbody>
            </table>
            <h2><strong>2014</strong></h2>
            <table border="0" cellspacing="0" cellpadding="4" width="530">
                <tbody>
                <tr>
                    <td>Jan. 10 2014</td>
                    <td>Bloomington, IL Bloomington Center for The Performing Arts</td>
                </tr>
                <tr>
                    <td>Jan. 18 2014</td>
                    <td>Los Angeles, CA Largo at The Coronet Theater</td>
                </tr>
                <tr>
                    <td>Jan. 31 2014</td>
                    <td>Ames, Iowa Iowa State University</td>
                </tr>
                <tr>
                    <td>Feb 14 &amp; 15 2014</td>
                    <td>Traverse City, MI Winter Comedy Arts Festival</td>
                </tr>
                <tr>
                    <td>Feb. 17 2014</td>
                    <td>Los Angeles, CA Largo at the Coronet Theater</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Feb. 19 2014</td>
                    <td>Missoula, MT Big Sky Documentary Film Festival</td>
                </tr>
                <tr>
                    <td>Mar. 4 2014</td>
                    <td>Stanford, CA Stanford University</td>
                </tr>
                <tr>
                    <td>Mar. 13 2014</td>
                    <td>Los Angeles, CA Largo at the Coronet Theater</td>
                </tr>
                <tr>
                    <td>Mar. 20 2014</td>
                    <td>St. Could, MN St. Cloud State University</td>
                </tr>
                <tr>
                    <td>Mar. 22 2014</td>
                    <td>Los Angeles, CA Sony Pictures Studios &ldquo;Young Literati Annual Toast&rdquo;</td>
                </tr>
                <tr>
                    <td>Mar. 25 2014</td>
                    <td>Redlands, CA University of Redlands &ldquo;Cuz of Jessie&rdquo; Benefit</td>
                </tr>
                <tr>
                    <td>Mar. 27 2014</td>
                    <td>Washington, DC Marriott Wardman Park &ldquo;Planned Parenthood Gala&rdquo;</td>
                </tr>
                <tr>
                    <td>Apr. 1 2014</td>
                    <td>Los Angeles, CA The Wiltern Theater</td>
                </tr>
                <tr>
                    <td>Apr. 3 2014</td>
                    <td>Golden, CO School of Mines</td>
                </tr>
                <tr>
                    <td>Apr. 10 2014</td>
                    <td>Pittsburgh, PA Carnegie Mellon University</td>
                </tr>
                <tr>
                    <td>Apr. 15 2014</td>
                    <td>Los Angeles, CA Largo at The Coronet Theater</td>
                </tr>
                <tr>
                    <td>Apr. 18 2014</td>
                    <td>Medford, MA Tufts University (closed to the public)</td>
                </tr>
                <tr>
                    <td>Apr. 28 2014</td>
                    <td>Manhattan, KS Kansas State University</td>
                </tr>
                <tr>
                    <td>May 8 2014</td>
                    <td>Washington, DC Rev Up</td>
                </tr>
                <tr>
                    <td>May 8 2014</td>
                    <td>San Francisco, CA JCC &ldquo;Women&rsquo;s Community Clinic Hysteria: Benefit for Women&rsquo;s Health&rdquo;</td>
                </tr>
                <tr>
                    <td>May 9 2014</td>
                    <td>Sacramento, CA The Assembly (rescheduling)</td>
                </tr>
                <tr>
                    <td>May 16 2014</td>
                    <td>Seattle, WA University of Washington</td>
                </tr>
                <tr>
                    <td>May 22 2014</td>
                    <td>Los Angeles, CA Largo at The Coronet Theater</td>
                </tr>
                <tr>
                    <td>May 24 2014</td>
                    <td>Burlington, VT Unitarian Universalist Church &ldquo;Green Mountain Comedy Festival&rdquo;</td>
                </tr>
                <tr>
                    <td>Jun 13 2014</td>
                    <td>Chicago, IL Athenaeum Theater &ldquo;Onion/AV Club Comedy Festival&rdquo; w/Kyle Kinane</td>
                </tr>
                <tr>
                    <td>Jul 18 2014</td>
                    <td>Los Angeles, CA Largo at The Coronet Theater</td>
                </tr>
                <tr>
                    <td>Jul 25 2014</td>
                    <td>San Jose, CA BlogHer Conference</td>
                </tr>
                <tr>
                    <td>Aug 9 2014</td>
                    <td>Los Angeles, CA The Wiltern Theater w/Jenny Lewis</td>
                </tr>
                <tr>
                    <td>Aug 16 2014</td>
                    <td>Los Angeles, CA Largo at The Coronet Theater</td>
                </tr>
                <tr>
                    <td>Sep 1 2014</td>
                    <td><a href="https://kililive.ticketabc.com/events/tig-notaro-shepherd/">London, UK Shepherd&rsquo;s Bush Empire</a></td>
                </tr>
                <tr>
                    <td>Sep 3 2014</td>
                    <td>Amsterdam, The Netherlands Toomler</td>
                </tr>
                <tr>
                    <td>Sep 5 2014</td>
                    <td>Dublin, Ireland Sugar Club</td>
                </tr>
                <tr>
                    <td>Sep 10 2014</td>
                    <td>Washington, DC TED Conference</td>
                </tr>
                <tr>
                    <td>Sep 18 2014</td>
                    <td>Los Angeles, CA Largo at The Coronet Theater</td>
                </tr>
                <tr>
                    <td>Sep 24-25 2014</td>
                    <td>Toronto, ON <a href="http://www.ticketmaster.ca/event/10004CBEC5099D72?brand=jfl42">&ldquo;Just For Laughs Festival&rdquo; Queen Elizabeth Theatre</a></td>
                </tr>
                <tr>
                    <td>Sep 26 2014</td>
                    <td>Northampton, MA <a href="http://s.iheg.com/7748">Calvin Theatre &amp; Performing Arts Center</a></td>
                </tr>
                <tr>
                    <td>Sep 27 2014</td>
                    <td>Plymouth, NH <a href="http://www.plymouth.edu/silver-center/features-top/tig-notaro/">Hanaway Theatre–Silver Center for the Arts at Plymouth State University</a></td>
                </tr>
                <tr>
                    <td>Sep 28 2014</td>
                    <td>Providence, RI <a href="http://tignotaro.brownpapertickets.com/">Columbus Theatre</a></td>
                </tr>
                <tr>
                    <td>Sep 29 2014</td>
                    <td>Ridgefield, CT <a href="http://tickets.ridgefieldplayhouse.org/ordertickets.asp?p=1478">The Ridgefield Playhouse</a></td>
                </tr>
                <tr>
                    <td>Sep 30 2014</td>
                    <td>Baltimore, MD <a href="http://www.ticketfly.com/purchase/event/673381?utm_medium=bks">Ram&rsquo;s Head Live</a></td>
                </tr>
                <tr>
                    <td>Oct 1-4 2014</td>
                    <td>Washington, DC <a href="http://brightestyoungthings.com/bentzen-ball">The Bentzen Ball w/Rosie O&rsquo;Donnell, Jeff Garlin, Ron Funches &amp; more!</a></td>
                </tr>
                <tr>
                    <td>Oct 6 2014</td>
                    <td>Charlottesville, VA <a href="http://jeffersontheater.tix.musictoday.com/basket.aspx?Action=AddTickets&eventId=162407">Jefferson Theater</a></td>
                </tr>
                <tr>
                    <td>Oct 7 2014</td>
                    <td>Durham, NC <a href="http://www.ticketmaster.com/tig-notaro-durham-north-carolina-10-07-2014/event/0E004D1DD8C39FEB">Carolina Theater</a></td>
                </tr>
                <tr>
                    <td>Oct 8 2014</td>
                    <td>Athens, GA <a href="http://www.ticketfly.com/purchase/event/672255">40 Watt Club</a></td>
                </tr>
                <tr>
                    <td>Oct 9 2014</td>
                    <td>Atlanta, GA <a href="http://www.ticketmaster.com/event/0E004D1B098EA7CB">Variety Playhouse</a></td>
                </tr>
                <tr>
                    <td>Oct 12 2014</td>
                    <td>New Orleans, LA <a href="http://www.thejoytheater.com/?Page=https%3a%2f%2fsecure-public.ticketbiscuit.com%2fJoyTheater%2fTicketing%2f213020">Joy Theater</a></td>
                </tr>
                <tr>
                    <td>Oct 13 2014</td>
                    <td>Los Angeles, CA <a href="http://www.largo-la.com/event/685499">Largo Theatre</a></td>
                </tr>
                <tr>
                    <td>Oct 16 2014</td>
                    <td>Austin, TX <a href="http://tickets.austintheatre.org/public/loader.asp?target=hall.asp?event=1907">The Paramount Theatre</a></td>
                </tr>
                <tr>
                    <td>Oct 17 2014</td>
                    <td>Dallas, TX <a href="http://www.ticketmaster.com/event/0C004D12DED76336">Majestic Theatre Dallas</a></td>
                </tr>
                <tr>
                    <td>Oct 18 2014</td>
                    <td>Oklahoma City, OK <a href="http://www.ticketstorm.com/event/fowlervwpresentstignotaroboyishgirlinterruptedtour2014/oklahomacontemporaryartscenter/oklahomacity/13871/#.U_9o8E7kc_Y.gmail">Oklahoma Contemporary Arts Center</a></td>
                </tr>
                <tr>
                    <td>Oct 20 2014</td>
                    <td>St. Louis, MO <a href="http://www.ticketfly.com/purchase/event/673357?utm_medium=bks">The Ready Room</a></td>
                </tr>
                <tr>
                    <td>Oct 21 2014</td>
                    <td>Omaha, NE <a href="http://theslowdown.com/event.cfm?id=173365">Slowdown</a></td>
                </tr>
                <tr>
                    <td>Oct 22 2014</td>
                    <td>Minneapolis, MN <a href="http://first-avenue.com/event/2014/10/tignotaro">The Woman&rsquo;s Club</a></td>
                </tr>
                <tr>
                    <td>Oct 23 2014</td>
                    <td>Milwaukee, WI <a href="http://pabsttheater.org/show/tignotaro2014">Turner Hall Ballroom</a></td>
                </tr>
                <tr>
                    <td>Oct 24 2014</td>
                    <td>Cincinnati, OH <a href="http://www.ticketmaster.com/event/16004D1CE21A2B5F">Taft Theatre</a></td>
                </tr>
                <tr>
                    <td>Oct 25 2014</td>
                    <td>Pittsburgh, PA <a href="http://www.ticketfly.com/purchase/event/678541?utm_medium=bks">Kelly Strayhorn Theater</a></td>
                </tr>
                <tr>
                    <td>Oct 26 2014</td>
                    <td>Pontiac, MI <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=5361895&pl=crofoot">Crofoot Ballroom</a></td>
                </tr>
                <tr>
                    <td>Oct 29- Nov. 3 2014</td>
                    <td>Maui, HI <a href="http://www.mauicomedyfestival.com/maui-comedy-festival-schedule/">Maui Comedy Festival</a></td>
                </tr>
                <tr>
                    <td>Nov 6 2014</td>
                    <td>New York, NY <a href="http://nycomedyfestival.com/event/tig-notaro/">New York Comedy Festival Town Hall</a></td>
                </tr>
                <tr>
                    <td>Nov 7 2014</td>
                    <td>Philadelphia, PA <a href="http://www.ticketfly.com/purchase/event/674741?utm_medium=bks">Trocadero Theatre</a></td>
                </tr>
                <tr>
                    <td>Nov 8 2014</td>
                    <td>Boston, MA <a href="http://thewilbur.com/artist/tig-notaro/">The Wilbur (postponed)</a></td>
                </tr>
                <tr>
                    <td>Nov 9 2014</td>
                    <td>Denver, CO <a href="http://www.altitudetickets.com/event/tig-notaro-boyish-girl-interrupted-tour-2014-2982/">Paramount Theater (postponed)</a></td>
                </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
        </div>
    </div>
</div>